<div id="allpage" class="form" method="post">

    <div class="title-bar h-35" style="height: 60px;">
        <h1 class="title-bar-title pull-xs-left">
            <span class="d-ib">Create Purchse Invoice</span>
        </h1>
        
    </div>
</div>
